.card-text-1{
    position: absolute;
    color: #C7ff0b;
    bottom: 0;
    left: 0;
    width: 20rem;
    background-color: black;
    opacity: 0.5;
    padding-left:0.5em
}

.MyColor{
    background-color: rgb(167, 236, 219);
}

.container-search input{
    border: 1px solid rgb(88, 189, 164);
    padding-left: 0.5rem;
    height: 2rem;
}

.container-search button{
    background-color: rgb(23, 196, 52);
    border: 1px solid rgb(147, 212, 169);
    padding: 0rem 3rem ;
    color: white;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
}